.main-page {
//	display: none;
	text-align: center;
	color: $color-white;
	padding-top: 20vh;
	p {
		font-size: $f-size-base;
		margin-bottom: 25px;
	}
	h1 {
		font-weight: 300;
		margin-top: 25px;
		font-size: $f-size-header;
	}

	.start-btn {
		@include button (80px);
		margin-top: 40px;
		position: relative;

	}

}
