//MAIN COLORS:
$color-bcg: #1a1a1a; 
$color-box: #212121; // color for notes and main container for FORM
$color-accent: #4f4ae5;
$color-white: #fff;

// MAIN FONTS COLORS:
$color-font-main: #5b5b5b;


//FORM COLORS:
$color-input: #252525;
$color-font-input-active: #a4a4a4;


//TASKS COLORS:
$color-circle-red: #fc4d59; // priority 1
$color-circle-green: #4ad8a3; // priority 2
$color-circle-yellow: #c3d500; // priorirty 3

